.my-modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.my-modal.active {
    opacity: 1;
    pointer-events: all;
}

.my-modal-content {
    padding: 20px;
    background-color: white;
    width: 800px;
    height: 700px;
    transition: 0.4s all;
    overflow: auto;
}

.my-modal-content.active {
    transform: scale(1);
}
