body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dayofweek {
  border-radius: 0.75rem;
  margin: 1.5rem auto;
  font-size: 1.15rem;
  width: 36rem;
}

.dayofweek-header {
  padding: 0.75rem 1.25rem;
}

.dayofweek-switcher-div {
  float: right;
}

.dayofweek-switcher-input {
  cursor: pointer;
}

.dayofweek-switcher-input:checked {
  background-color: #58bc38;
  border-color: #58bc38;
}

.dayofweek-switcher-input:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%175, 212, 156, 0.25%29'/%3e%3c/svg%3e")
}

.dayofweek-switcher-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23b6cfac'/%3e%3c/svg%3e") !important;
  border-color: #b6cfac;
  box-shadow: 0 0 0 0.25rem rgb(175, 212, 156);
}

.dayofweek-item {
  padding: 0.5rem 1rem 0.5rem 1.5rem;
}

.dayofweek-list:last-child {
  border-bottom-right-radius: calc(.75rem - 1px) !important;
  border-bottom-left-radius: calc(.75rem - 1px) !important;
}

.dayofweek-item-checkbox {
  border-color: #58bc38;
}

.dayofweek-item-checkbox:focus {
  box-shadow: 0 0 0 0.25rem rgb(175, 212, 156);
}

.dayofweek-item-checkbox:checked {
  background-color: #58bc38;
  border-color: #58bc38;
}

.dayofweek-item-name {
  float: left;
  padding: 0.8rem 1.5rem;
  margin: 0;
  width: 14rem;
}

.dayofweek-time-block {
  float: right;
  padding-left: 0;
  list-style-type: none;
}

.dayofweek-time-block > li {
  padding: 0.25rem 0;
}

.dayofweek-time-select {
  width: 6rem;
  display: inline-block;
  margin: .15rem .25rem;
  padding: .20rem .75rem .25rem .75rem;
}

.dayofweek-time-add {
  color: #58bc38;
  font-size: 1.20rem;
  margin-left: 0.25rem;
  cursor: pointer;
}

.dayofweek-time-delete {
  color: #f65252;
  font-size: 1.20rem;
  margin-left: 0.25rem;
  cursor: pointer;
}

.btn-state {
  border-radius: 0.5rem;
  margin: 2rem auto;
  background-color: #58bc38;
  border-color: #58bc38;
  display: block;
}

.btn-state:focus {
  background-color: #58bc38;
  border-color: #58bc38;
  box-shadow: 0 0 0 0.25rem rgb(175, 212, 156);
}
